// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// Variables
@import 'variables';

$bg-default-color: transparent;
$text-white-color: #fff;
$present-color: #23BF08;
$absent-color: #DC3545;
$leave-color: #0866C6;
$late-entry-color: #6f42c1;
$half-day-color: #343a40;

body {
    font-family: 'Open Sans',
        sans-serif;
    background-color: #eeeeee;
}

.br-header {
    height: 50px;
}

@media (min-width: 992px) {
    .collapsed-menu .br-sideleft {
        top: 50px;
    }
}

.br-mainpanel {
    margin-top: 50px;
}

.navicon-left {
    height: 50px;
}

.br-pageheader {
    background-color: white;
}

.br-header-left .input-group {
    border-right: none;
}

.br-logo {
    height: 50px;
    justify-content: center;
}

.br-sideleft {
    top: 50px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
    padding-right: 1.30rem;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-18 {
    font-size: 18px;
}

.br-section-wrapper {
    padding: 30px;
}

.table.dataTable {
    width: 100% !important;
    margin-bottom: 0;
}
div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before {
    display: none !important;
}

.dataTables_scrollHeadInner{
    width: 100% !important;
}


.br-pagetitle {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (min-width: 992px) {
    .wizard.vertical>.content {
        min-height: 700px;
    }

    .wizard.vertical>.steps {
        width: 21%;
    }

    .wizard.vertical>.content {
        width: 79%;
    }
}

.wizard>.content {
    background-color: #fff;
    border: 1px solid #e9ecef !important;
}

.form-group>.select2 {
    width: 100% !important;
}

.custom-icon {
    color: red;
}

.red {
    color: red;
}

// For select 2 in modal
.select2-dropdown {
    z-index: 1050;
}

.ui-datepicker {
    z-index: 1050 !important;
}

.wizard>.steps a,
.wizard>.steps a:hover,
.wizard>.steps a:active {
    color: #adb5bd;
}

.wizard>.steps .done a,
.wizard>.steps .done a:hover,
.wizard>.steps .done a:active {
    background-color: #e9ecef;
    color: #adb5bd;
}

.wizard>.steps .done a .number,
.wizard>.steps .done a:hover .number,
.wizard>.steps .done a:active .number {
    border-color: #adb5bd;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f9f9f9;
}

th,
td {
    white-space: nowrap;
}

div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
    border-right: 0;
}

.table thead th,
.table th,
.table td {
    vertical-align: middle;
}

/* width */
::-webkit-scrollbar {
    height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555ba;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.presentButtonColor {
    background-color: $present-color;
    color: $text-white-color;
    border: 1px solid $present-color;
}

.presentButtonColor:hover {
    background-color: $bg-default-color;
    color: $present-color;
    border: 1px solid $present-color;
}

.absentButtonColor {
    background-color: $absent-color;
    color: $text-white-color;
    border: 1px solid $absent-color;
}

.absentButtonColor:hover {
    background-color: $bg-default-color;
    color: $absent-color;
    border: 1px solid $absent-color;
}

.leaveButtonColor {
    background-color: $leave-color;
    color: $text-white-color;
    border: 1px solid $leave-color;
}

.leaveButtonColor:hover {
    background-color: $bg-default-color;
    color: $leave-color;
    border: 1px solid $leave-color;
}

.lateEntryButtonColor {
    background-color: $late-entry-color;
    color: $text-white-color;
    border: 1px solid $late-entry-color;
}

.lateEntryButtonColor:hover {
    background-color: $bg-default-color;
    color: $late-entry-color;
    border: 1px solid $late-entry-color;
}

.earlyExitButtonColor {
    background-color: $late-entry-color;
    color: $text-white-color;
    border: 1px solid $late-entry-color;
}

.earlyExitButtonColor:hover {
    background-color: $bg-default-color;
    color: $late-entry-color;
    border: 1px solid $late-entry-color;
}

.halfDayButtonColor {
    background-color: $half-day-color;
    color: $text-white-color;
    border: 1px solid $half-day-color;
}

.halfDayButtonColor:hover {
    background-color: $bg-default-color;
    color: $half-day-color;
    border: 1px solid $half-day-color;
}

.status {
    font-size: 12px;
    margin: 5px;
}

.container {
    position: relative;
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container:hover .chooseImage {
    transition: 0.5s ease-in-out;
    filter: blur(3px) brightness(30%);
}

.container:hover .middle {
    transition: 1s ease-in-out;
    opacity: 1;
}

.middleText {
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
}

.container:hover .middleText {
    transition: 1s ease-in-out;
    opacity: 1;
}


.white-background{
    background-color: white !important;
}
